.clock {
  width: 200px;
  height: 200px;
  margin: 150px auto ;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(0deg, #D9D8DD, #D9D8DD 35%, black 0%);
  box-shadow: -9px 8px 15px grey;
}
