.hand-container {
  height: 100%;
  width: 100%;
  transition: transform 250ms ease-in-out;
  position: absolute;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: #F2F2F2;
}
.hoursHand {
  height: 50px;
  width: 3px;
  margin-bottom: -10px;
  margin-left: -1.5px;
}
.minutesHand {
  height: 80px;
  width: 2px;
  margin-bottom: -10px;
  margin-left: -1px;
}
.secondsHand {
  height: 100px;
  width: 0.5px;
  margin-bottom: -10px;
  margin-left: -0.25px;
}
