.container {
    padding: 10px;
    width: 285px;
    height: 60px;
    margin: auto;
    background-color: black;
}

.separator {
    position: relative;
    font-size: 42px;
    color: white;
    padding: 0 5px;
    top: -20px;
    display: inline-block;
}
