.container {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
  margin: 0 5px;
}
.number {
  border: 4px solid;
  height: 20px;
  width: 0px;
  position: absolute;
}
.one {
  border-color: transparent transparent transparent white;
}
.two {
  height: 0;
  width: 20px;
  left: 2px;
  border-color: white transparent transparent transparent;
}
.three {
  left: 24px;
  border-color: transparent white transparent transparent;
}
.four {
  height: 0;
  width: 18px;
  top: 27px;
  left: 5px;
  border: 2px solid;
  border-color: white;
}
.four::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -6px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 2px 4px 2px 0;
}
.four::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 20px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 2px 4px 2px 4px;
}
.five {
  top: 30px;
  border-color: transparent transparent transparent white;
}
.six {
  width: 20px;
  height: 0;
  top: 50px;
  left: 2px;
  border-color: transparent transparent white transparent;
}
.seven {
  top: 30px;
  left: 24px;
  border-color: transparent white transparent transparent;
}
